.vs
BindingLibrary/obj
BindingLibrary/bin 
Themes/bin
Themes/obj
UMIASApp/bin
UMIASApp/obj
UMIASAPI/bin
UMIASAPI/obj
BindingLibrary/bin
BindingLibrary/obj
Themes/bin
Themes/obj
UMIASWPF/bin
UMIASWPF/obj
UMIASWPF/.vs
UMIASAPI/UMIASAPI/bin
UMIASAPI/UMIASAPI/obj
