<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UMIASWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UMIASWPF.Properties.Settings>
            <setting name="CurrentTheme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="Patient" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Admin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Doctor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Patients" serializeAs="String">
                <value>[{"Nickname":"Nekto228","Oms": 1}]</value>
            </setting>
        </UMIASWPF.Properties.Settings>
    </userSettings>
</configuration>